.email-input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    width: 190px;
    background-color: #f8f8f8;
    border-style: none;
}

.email-input::placeholder {
    color: #A9ABBD;
}