.main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
}

.main-title.-second {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -3px;
}

.main-title.-third {
    font-size: 36px;
    line-height: 45px;
}

.main-title.-fourth {
    font-size: 24px;
}

.main-title.-fifth {
    font-size: 48px;
    letter-spacing: -1.6px;
}