.main-action {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    margin-right: 47px;
}

.main-action.-second {
    color: #783BFF;
    font-size: 14px;
    font-weight: 500;
    margin: 26px;
}

.main-action.-third {
    color: #783BFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.36px;
}

.main-action.-about {
    opacity: 50%;
}

.main-action.-signUp {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 80px;
    height: 40px;
    border: 1px solid #E1E4EB;
    border-radius: 5px;
    margin: 0;
}

.main-action.-select-plan {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    width: 290px;
    height: 50px;
    border: 1px solid #E1E4EB;
    border-radius: 5px;
    margin: 0;
}

.main-action.-blackSelect-plan {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #783BFF;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    margin: 0;
}